
@{
    ViewBag.Title = "Error";
    var error = ViewBag.err as string;
    <style>
        body {
            background: url("https://bookriot.com/wp-content/uploads/2020/03/library-libraries-feature-700x375-1-1280x720.jpg");
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
        }

        #content {
            height: 75vh;
        }

        #error {
            padding-left: 10px;
            border-left: 2.5px solid #d62828;
        }
    </style>
}



<div class="d-flex align-items-center justify-content-center" id="content">
    <div class="container d-flex flex-column align-items-center ">
        <h1 class="h1 mb-4 text-white">Lost your way?</h1>
        <p class="fs-5">@error</p>
        <span id="error">Error code: <strong>404</strong></span>
        <a class="btn btn-light mt-3" style="border:none; border-radius: 50px; padding-inline: 125px; padding-block: 8px;" href="/">Return back</a>
    </div>
</div>



